<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaulthandler.reminder</key>
	<string>false</string>
	<key>donate.reminder</key>
	<string>4.0.2</string>
	<key>update.check</key>
	<false/>
</dict>
</plist>
